.textcolor {
    color: blue;
    font-weight: 900;
    font-size: 60px;
} 
.textcolor2 {
    font-size: 18px;
    font-weight: bold;
}
.center-text {
    text-align: center;
}
.facebook {
    margin-top: 70px;
    margin-right: 30px;
}
.mybackground {
    background-color: F0F2F5;
}
.text {
    border: 2px solid lightblue;
}
.logform {
    border-radius: 12px;
    height: 350px;
    padding-top: 15px;
    padding-left: 15px;
}
.input {
    padding: 20px;
}
.new-button{
    padding: 15px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #42b72a;
}
.log-button {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;

}
.para {
    color: black;
    text-align: center;
    margin-top: 20px;

}


