.body {
    background-color: #f0f2f5;
    
}
.buttoncolor{
    background-color: #42b72a;
}
.formbackground{
    background-color: #fff;
}

.padding{
    padding-left: 25%;
}
.text {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.leftdiv {
    position: relative;
    margin-left: 10%;
}

.rightdiv{
    margin-right: 30%;
}
.outline{
    border: 1px solid black;
  outline-style: solid;
  outline-color: #92a8d1;
}
.display{
    display: flex;
}